@use 'variables' as v;

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: v.$space-blue v.$space-cyan;
}

@media (max-width: 768px) {
  .content {
    padding: v.$space-orange;
  }
}
