.form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 25rem;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .form {
    width: 18rem;
  }
}
