@use 'variables' as v;

.form {
  display: flex;
  flex-direction: column;
  @include v.set-rem(0.25, gap);
  @include v.space-silver(width);
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  @include v.space-blue(margin-top);
}

@media (max-width: 576px) {
  .form {
    @include v.set-rem(18, width);
  }
}
