@use 'variables' as v;

.logo {
    display: block;
    cursor: pointer;
    background: url(../../../assets/logo.svg);
    background-size: v.$space-cyan v.$space-cyan;
    width: v.$space-cyan;
    height: v.$space-cyan;
}

mat-toolbar {
    padding-top: 0;
    padding-bottom: 0;
    @include v.space-green(padding-left, padding-right);
}

.nav {
    list-style: none;
    margin:0;
    padding:0;
}

.fill-remaining-space {
    flex: 1 1 auto;
  }