mat-card {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  width: 100px;
  height: 82px;
  background: url('../../../../../assets/logo.svg');
  background-size: 100px 82px;
}

.title {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.mode-swich-button {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
  a {
    cursor: pointer;
    text-decoration: none;
    color: #d75f39;
  }
}
