<mat-list *ngIf="isLoaded">
    <mat-list-item>
      <span>Bot Status:</span>
      <span class="status-value">{{ dynoStatus.state }}</span>
      <mat-icon [style.color]="getStatusColor(dynoStatus.state)" mat-list-icon>circle</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Server Status:</span>
      <span class="status-value">{{ dynoStatus.state }}</span>
      <mat-icon [style.color]="getStatusColor(dynoStatus.state)" mat-list-icon>circle</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Notifications to Send:</span>
      <span class="status-value">{{ notificationsToSend }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Notifications Already Sent:</span>
      <span class="status-value">{{ notificationsSent }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Version:</span>
      <span class="status-value">{{ dynoStatus.release.version }}</span>
    </mat-list-item>
  </mat-list>
  