@use 'variables' as v;

sue-server-metrics-widget {
  width: 100%;
  height: 100%;
}

.status-value {
  font-weight: bold;
  @include v.space-orange(margin-left);
}

mat-list:not(.important) {
  padding: 0;
  mat-list-item {
    .mdc-list-item__content {
      .mat-mdc-list-item-unscoped-content {
        display: flex;
        align-items: center;
        width: 100%;
        mat-icon {
          margin-left: auto;
        }
      }
    }
  }
}

mat-divider {
  border-top-width: 1px;
  border-top-style: dashed;
}

@media (max-width: 768px) {
  mat-list:not(.important) {
    mat-list-item {
      height: v.$space-red;
      .mdc-list-item__content {
        font-size: v.$font-size-small;
      }
    }
  }
}
