@use 'variables' as v;

:host {
  width: 100%;
}

.status-value {
  font-weight: bold;
  @include v.space-orange(margin-left);
}

mat-list:not(.important) {
  padding: 0;
  mat-list-item {
    .mdc-list-item__content {
      .mat-mdc-list-item-unscoped-content {
        display: flex;
        align-items: center;
        width: 100%;
        mat-icon {
          margin-left: auto;
        }
      }
    }
  }
}

mat-divider {
  border-top-width: 1px;
  border-top-style: dashed;
}
