<mat-list *ngIf="isLoaded">
    <mat-list-item>
      <span>Bot status:</span>
      <span class="status-value">{{ getStatus(dynoStatus.state) }}</span>
      <mat-icon [style.color]="getStatusColor(dynoStatus.state)" mat-list-icon>circle</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Server status:</span>
      <span class="status-value">{{ getStatus(dynoStatus.state) }}</span>
      <mat-icon [style.color]="getStatusColor(dynoStatus.state)" mat-list-icon>circle</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Pending notifications:</span>
      <span class="status-value">{{ notificationsToSend }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Processed notifications:</span>
      <span class="status-value">{{ notificationsSent }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Version:</span>
      <span class="status-value">{{ dynoStatus.release.version }}</span>
    </mat-list-item>
  </mat-list>
  