@use '@angular/material' as mat;
@use 'variables' as v;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

* {
  font-family: 'Montserrat';
}

html {
  @include mat.theme(
    (
      color: mat.$green-palette,
    )
  );
}

mat-card:not(.important) {
  background-color: v.$transparent-background;
  border-radius: 0;
}

body {
  width: auto;
  margin: 0;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./assets/lg-bg.jpg') center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-error {
  font-size: small;
}

a {
  color: v.$accent-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: v.$grey;
  }
}