<div class="grid">
  <div class="grid-row">
    <mat-card>
      <span class="thumb-title">users number</span>
      {{ 2 }}
    </mat-card>
    <mat-card>
      <span class="thumb-title">active today</span>
      {{ 1 }}
    </mat-card>
    <mat-card>
      <span class="thumb-title">at least one interaction today</span>
      {{ 32 }}
    </mat-card>
  </div>
  
  <div class="grid-row">
    <mat-card>
      <span class="thumb-title">with disabled notifications</span>
      {{ 24 }}
    </mat-card>
    <mat-card>
      <span class="thumb-title">with completed skin test</span>
      {{ 22 }}
    </mat-card>
    <mat-card>
      <span class="thumb-title">new users today</span>
      {{ 65 }}
    </mat-card>
  </div>
</div>