@use 'variables' as v;

@mixin grid-row($columns) {
  display: grid;
  column-gap: v.$space-blue;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin merge-columns($columns-to-merge) {
  grid-column-start: span #{$columns-to-merge};
}
