@use 'variables' as v;

.logo-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  @include v.space-blue(padding);
  @include v.space-red(gap);
  &__image {
    display: block;
    width: 100px;
    height: 82px;
    background: url('../../../../../assets/logo.svg');
    background-size: 100px 82px;
  }
  &__title {
    align-self: center;
    font-size: v.$font-size-small;
    @include v.space-navy(inline-size);
    color: v.$primary-color;
  }
}

.auth-container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  @include v.space-blue(padding);
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    @include v.space-blue(padding, margin-bottom);
    @include v.set-rem(0.25, gap);
    &-title {
      display: flex;
      justify-content: start;
      @include v.space-orange(gap);
      align-items: center;
      font-weight: bold;
      font-size: v.$font-size-large;
    }
    &-mode-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: small;
      @include v.set-rem(0.25, gap);
      a {
        cursor: pointer;
        text-decoration: none;
        color: v.$accent-color;
      }
    }
  }
}

@media (max-width: 576px) {
  .logo-container {
    top: 10%;
    left: 50%;
    background: none;
    background-size: unset;
    box-shadow: none;
  }
  .auth-container {
    left: 50%;
    @include v.space-blue(padding);
  }
}
