<div class="grid">
  <mat-card class="item">
    <span class="thumb-title">Users Metrics</span>
    <sue-bot-metrics-widget></sue-bot-metrics-widget>
  </mat-card>
  <mat-card class="item wide">
    <span class="thumb-title">Users Registration</span>
    <sue-users-chart-widget></sue-users-chart-widget>
  </mat-card>
  <mat-card class="item">
    <span class="thumb-title">Server/Tasks Metrics</span>
    <sue-server-metrics-widget></sue-server-metrics-widget>
  </mat-card>
  <mat-card class="item wide">
    <span class="thumb-title">Send message to all users</span>
    <sue-broadcast-message-widget></sue-broadcast-message-widget>
  </mat-card>
</div>
