@use 'grid' as g;
@use 'variables' as v;

.grid {
  @include g.grid-row(4);
  .item {
    position: relative;
    @include v.space-blue(padding);
    width: 100%;
    &:nth-child(1),
    &:nth-child(2) {
      @include v.space-blue(margin-bottom);
      @include v.set-rem(33, height);
    }
    &:nth-child(3),
    &:nth-child(4) {
      @include v.set-rem(25.65, height);
    }
    &.wide {
      @include g.merge-columns(3);
    }
    .thumb-title {
      font-size: v.$space-lime;
      font-weight: bold;
      @include v.space-blue(padding-left);
      @include v.space-orange(padding-bottom);
    }
  }
}
